
ul li {
  list-style: none;
  float: right;
}

.nav_bar {
  background: rgb(51, 61, 71);
  height: auto;
  width: auto;
  display: flex;
}

.logo {
  flex: 1;
}

.navigator {
  flex: 1;
  text-align: right;
}

.list {
  margin: 0;
}

.item {
  padding-left: 10px;
}

.item1 {
  color: white;
}

.right-item {
  padding-right: 10px;
}

.logo-img {
  height: 20px;
}
